<section class="about-layout grid align-items-center">
  <figure class="col p-0 m-0 bg-green-500">
    <img
      width="353"
      height="452"
      ngSrc="./images/about-us/trainer-1.AVIF"
      alt="trainer image"
      loading="lazy"
    />
    <img
      width="353"
      height="452"
      ngSrc="./images/about-us/trainer-2.AVIF"
      alt="trainer image"
      loading="lazy"
    />
    <img
      width="353"
      height="452"
      ngSrc="./images/about-us/trainer-3.AVIF"
      alt="trainer image"
      loading="lazy"
    />
    <figcaption class="hidden">
      Our certified personal trainers at FitZone
    </figcaption>
  </figure>

  <article class="col bg-blue-400">
    <header>
      <h1>ABOUT US</h1>
      <h2>EMPOWERING YOU TO ACHIEVE YOUR FITNESS GOALS</h2>
    </header>
    <p>
      We believe fitness is more than just a workout—it's a lifestyle. With
      top-of- the-line facilities, certified trainers, and a supportive
      community, we're here to inspire and guide you every step of the way.
    </p>
    <div class="flex justify-content-start gap-4">
      <div>
        <h3>Personal Trainer</h3>
        <p>guidance of our certified trainers.</p>
      </div>
      <div>
        <h3>Cardio Programs</h3>
        <p>sprints, our treadmill programs.</p>
      </div>
    </div>
    <div class="flex justify-content-start gap-4">
      <div>
        <h3>Quality Equipment</h3>
        <p>latest cardio & strength machines.</p>
      </div>
      <div>
        <h3>Healthy Nutritions</h3>
        <p>customized meal plans for you.</p>
      </div>
    </div>
    <button>Get Started</button>
  </article>
</section>
