<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordSubmit()">
    <lib-fitness-input
        formControlName="password"
        type="password"
        placeholder="New Password"
        id="password"
        [errorHandilgControl]="resetPasswordForm.get('password')!"
        (input)="onPasswordInput()"
    ></lib-fitness-input>

    <lib-fitness-input
        formControlName="confirmPassword"
        type="password"
        placeholder="Confirm Password"
        id="confirmPassword"
        [errorHandilgControl]="resetPasswordForm.get('confirmPassword')!"
    ></lib-fitness-input>

    <button>Reset Password</button>
</form>