@use './app/shared/styles/_utilities' as utl;
@use './app/shared/styles/_variables' as vars;

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* meals and workouts */
.sec-gradient {
    background: linear-gradient(to bottom, var(--sec-grad-color) 0% 75%, transparent 70% 100%);
}

.container {
    max-width: 90%;
    margin: auto;
}

@font-face {
    font-family: 'primeicons';
    src: url('./../../../node_modules/primeicons/fonts/primeicons.woff2') format('woff2');
    font-display: swap; /* This will display fonts when ready */
    font-weight: normal;
    font-style: normal;
}
