:root {
    // Fonts
    --font-1: 'Baloo Thambi 2', system-ui;
    --font-2: 'Rubik', sans-serif;
    --font-3: 'Inter', sans-serif;

    // Light Theme Colors

    --white-30: #ffffff4d;
    --white-90: #ffffff99;
    --white-95: #fffffff2;
    --white: #ffffff;
    --black: #000000;

    --gray-100: #f3f3f4;
    --gray-200: #d9d9d9;
    --gray-300: #d3d3d3;
    --gray-900: #242424;
    --gray-950: #232526;
    --gray-100-14: #f3f3f424;
    --gray-900-14: #24242424;
    --gray-900-60: #24242499;

    --orange-500: #ff4100;
    --gradient-70: #b4b3b1;

    --body: var(--white);

    // Hero
    --hero-bg: var(--white-30);
    // About-Us
    --about-section-bg: var(--white-95);
    --about-text-color: var(--gray-900);
    --about-line-break-bg: var(--gray-900-14);
    //meals and workouts shared
    --main-color: var(--orange-500);
    --text-color: var(--gray-900);
    --sec-grad-color: var(--gradient-70);
    // Why-Us
    --whyus-section-bg: var(--white-95);
    --whyus-text-color: var(--gray-900);
    --whyus-step-bg: var(--orange-500);
    --whyus-step-color: var(--gray-100);
    --whyus-step-border-color: var(--gray-900-14);
}

.dark-mode {
    --body: var(--gray-950);

    --gradient-70: #232425;

    // Hero
    --hero-bg: var(--gray-900-60);
    // About-Us
    --about-section-bg: var(--gray-950);
    --about-text-color: var(--gray-100);
    --about-line-break-bg: var(--gray-100-14);
    //meals and workouts shared
    --text-color: var(--white);
    --sec-grad-bg: var(--gradient-70);
    // Why-Us
    --whyus-section-bg: var(--gray-950);
    --whyus-text-color: var(--gray-100);
    --whyus-step-bg: var(--orange-500);
    --whyus-step-color: var(--gray-100);
    --whyus-step-border-color: var(--gray-100-14);
}
