<div class="forgetpass-container">
    @if (forgetFlow() === "send") {
    <div class="container">
        <h2>Forgot Password</h2>
        <div class="step-wrapper">
            <p>Enter Your Email</p>
            <app-send-email (emailSubmitted)="onEmailSubmitted($event)" />
        </div>
    </div>

    } @if (forgetFlow() === "verify") {
    <div class="container">
        <h2>OTP CODE</h2>
        <div class="step-wrapper">
            <p>Enter Your OTP Check your email</p>
            <app-confirm-otp
                [email]="email()"
                (codeVerified)="onCodeVerified($event)"
                (goBack)="goBackToSend()"
            />
        </div>
    </div>

    } @if (forgetFlow() === "reset") {
    <div class="container">
        <h2>Create New Password</h2>
        <div class="step-wrapper">
            <p>make sure its 8 characters or more</p>
            <app-create-new-pass
                [email]="email()"
                (passwordReset)="onPasswordReset()"
            />
        </div>
    </div>
    }
</div>
