#details {
    min-height: 100vh;
    background: #24242499;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 80px 50px;
    &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        // Preload LCP image
        background-image: url('/images/details/bg-2.avif');
    }

    .blur-overlay {
        backdrop-filter: blur(86px);
        position: absolute;
        inset: 0;
        z-index: 1;
        background: var(--details-bg);
    }

    .details-container {
        position: relative;
        z-index: 2;
        margin: 0;
        .title-img {
            position: absolute;
            top: -26px;
            inset-inline-start: 40%;
            z-index: 1;
        }
        .content {
            position: relative;
            z-index: 2;
        }
    }
}
