.about-p {
    padding-top: 120px;
}
.home-p {
    padding-top: 1.5rem;
    @media all and (min-width: 48rem) {
        padding-top: 95px;
    }
}
.about-layout {
    padding-inline: 1rem;
    padding-bottom: 5.9375rem;
    color: var(--about-text-color);
    font-family: var(--font-1);
    backdrop-filter: blur(86px);
    @media all and (min-width: 48rem) {
        padding-inline: 5rem;
        padding-bottom: 12.5rem;
        gap: 5rem;
    }
    @media all and (min-width: 62rem) {
        padding-bottom: 2.9375rem;
    }
    @media all and (62rem <= width <= 78.125rem) {
        gap: 3rem;
    }
    figure {
        margin: 0 0 30px 0;
        padding: 0;
        @media all and (min-width: 62rem) {
            margin: 0;
        }
        @media all and (62rem <= width <= 78.125rem) {
            align-self: center;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        img {
            border-radius: 1.125rem;
            object-fit: cover;
        }
        .trainer-3 {
            width: 12.6875rem;
            height: auto;
            @media all and (min-width: 37.5rem) {
                width: 15rem;
                height: auto;
            }
            @media all and (min-width: 48rem) {
                width: 22.375rem;
                height: auto;
            }
            @media all and (62rem <= width <= 74.9375rem) {
                width: 14rem;
                height: auto;
            }
            @media all and (74.9375rem <= width <= 78.125rem) {
                width: 15rem;
                height: auto;
            }
        }
        .trainer-1 {
            position: absolute;
            width: 12.5313rem;
            height: auto;
            top: 10.2275rem;
            inset-inline-start: 8.7719rem;
            @media all and (min-width: 37.5rem) {
                width: 14rem;
                height: auto;
                top: 11.5rem;
                inset-inline-start: 9.25rem;
            }
            @media all and (min-width: 48rem) {
                width: 22.0625rem;
                height: auto;
                top: 18rem;
                inset-inline-start: 15.4375rem;
            }
            @media all and (62rem <= width <= 74.9375rem) {
                width: 14rem;
                height: auto;
                position: static;
            }
            @media all and (74.9375rem <= width <= 78.125rem) {
                width: 14rem;
                height: auto;
                top: 11.5rem;
                inset-inline-start: 16.875rem;
            }
        }
        .trainer-2 {
            position: absolute;
            width: 7.875rem;
            height: auto;
            top: 2.8413rem;
            inset-inline-start: 13.4238rem;
            @media all and (min-width: 37.5rem) {
                width: 8.75rem;
                height: auto;
                top: 3.5rem;
                inset-inline-start: 15.625rem;
            }
            @media all and (min-width: 48rem) {
                width: 13.875rem;
                height: auto;
                top: 5rem;
                inset-inline-start: 23.625rem;
            }
            @media all and (62rem <= width <= 74.9375rem) {
                width: 14rem;
                height: auto;
                position: static;
            }
            @media all and (74.9375rem <= width <= 78.125rem) {
                width: 8.75rem;
                height: auto;
                top: 3.5rem;
                inset-inline-start: 21.25rem;
            }
        }
    }
    figure,
    .article {
        @media all and (min-width: 74.9375rem) {
            flex-grow: 1;
            flex-basis: 0;
        }
    }
    .sec-header {
        text-align: start;
    }
    .article {
        gap: 4rem;
        ul {
            text-align: start;
        }
        .p-vision {
            font-family: var(--font-2);
            font-weight: 400;
            font-size: 1.125rem;
            line-height: 1.8rem;
            margin: 1.5rem 0 4rem 0;
        }
        .icon {
            width: 1.1062rem;
            height: 1.0625rem;
            margin-inline-end: 1rem;
            image-rendering: -webkit-optimize-contrast;
            image-rendering: crisp-edges;
        }
        li {
            margin: 0;
        }
        .service-header {
            font-weight: 700;
            font-size: 1.025rem;
            line-height: 1.5rem;
            margin: 0 0 1rem 0;
            @media all and (max-width: 36rem) {
                margin-top: 1.5rem;
            }
        }
        .service-p {
            font-weight: 400;
            font-size: 1.125rem;
            line-height: 1.8rem;
            margin: 0;
            @media all and (36rem <= width <= 48rem) {
                font-size: 1rem;
            }
        }
        .line-break {
            width: 100%;
            height: 0.0625rem;
            background: var(--about-line-break-bg);
            margin: 2rem 0;
        }
    }

    :host-context([dir='rtl']) .icon {
        transform: rotate(270deg);
        margin-inline-start: 1rem;
    }
}
