.section-title {
    position: relative;
    top: 12px;
    .overlay {
        position: absolute;
        bottom: 0;
        top: 50%;
        inset-inline-start: 0;
        inset-inline-end: 0;
        opacity: 0.1;
    }
    .sub-title {
        font-family: var(--font-3);
        color: var(--main-color);
        font-size: 13px;
        font-weight: 600;
        display: flex;
        align-items: center;
        position: absolute;
        width: 100%;
        bottom: 6px;
    }
    .dumble {
        width: 1.875rem;
        height: 1.2106rem;
        img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
        }
    }
}
