<div class="modal-container">
  <div class="modal-header">
    <div class="header-content">
      <h2 class="modal-title">{{ 'ACCOUNT.MODALS.CHANGE_PASSWORD.TITLE' | translate }}</h2>
      <p class="modal-subtitle">{{ 'ACCOUNT.MODALS.CHANGE_PASSWORD.SUBTITLE' | translate }}</p>
    </div>
    <button class="close-button" (click)="close()">
      <i class="pi pi-times"></i>
    </button>
  </div>
  
  <div class="modal-content">
    <div class="input-group">
      <label for="oldPassword">{{ 'ACCOUNT.MODALS.CHANGE_PASSWORD.CURRENT_PASSWORD' | translate }}</label>
      <input
        #oldPassword
        id="oldPassword"
        type="password"
        [placeholder]="'ACCOUNT.MODALS.CHANGE_PASSWORD.CURRENT_PASSWORD_PLACEHOLDER' | translate"
        pInputText
        class="w-full password-input"
      />
    </div>

    <div class="input-group">
      <label for="newPassword">{{ 'ACCOUNT.MODALS.CHANGE_PASSWORD.NEW_PASSWORD' | translate }}</label>
      <input
        #newPassword
        id="newPassword"
        type="password"
        [placeholder]="'ACCOUNT.MODALS.CHANGE_PASSWORD.NEW_PASSWORD_PLACEHOLDER' | translate"
        pInputText
        class="w-full password-input"
      />
      <small class="hint-text">{{ 'ACCOUNT.MODALS.CHANGE_PASSWORD.PASSWORD_HINT' | translate }}</small>
    </div>
  </div>
  
  <div class="modal-actions">
    <button 
      pButton 
      class="cancel-button"
      (click)="close()"
      [label]="'ACCOUNT.MODALS.CHANGE_PASSWORD.CANCEL' | translate"
    ></button>
    <button 
      pButton 
      class="submit-button"
      (click)="submit(oldPassword.value, newPassword.value)"
      [disabled]="!oldPassword.value || !newPassword.value || newPassword.value.length < 6"
      [label]="'ACCOUNT.MODALS.CHANGE_PASSWORD.CHANGE_BUTTON' | translate"
    ></button>
  </div>
</div>